<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ModuleID" value="69"/>
    <add key="MaintainedModuleIDs" value="61;69"/>
    <add key="TemplatePath" value="D:\projects\Permata\Site\debtchecking\Templates\Master"/>
    <add key="dbTimeOut" value="600"/>
    <add key="dbBigTimeOut" value="3600"/>
    <add key="LDAPServer" value=""/>
    <add key="LDAPAdminUser" value=""/>
    <add key="LDAPAdminPwd" value="jZHaMKgrgw8QWGNX6RX+Ww=="/>
    <add key="EncryptionKey" value="simplekey"/>
    <add key="connString" value="Data Source=.,2438;Initial Catalog=CBASLOGIN;uid=sa;pwd=Adm1nstrator;Pooling=true"/>
    <add key="connStringModule" value="Data Source=.,2438;Initial Catalog=CBASSID;uid=sa;pwd=Adm1nstrator;Pooling=true"/>
    <add key="loginurl" value="../cbasdemo/Login.aspx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                 roles="[comma separated list of roles]"/>
            <deny      users="[comma separated list of users]"
                 roles="[comma separated list of roles]"/>
        -->
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization culture="en-US" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <machineKey decryptionKey="E2E8F842D9A8D67AC99B95D4243080D9FDC894BF8DB21C76" validationKey="D06CCDA7005C367BB7DF72AB85A5EC4586A013BC895D06A2772F54478FABD57171E4BBE13A6F3D783BBD9BA8137310ABB69E00064BE0BFF49B253850CA8C0149"/>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </httpModules>
    <compilation debug="true"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>