################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Site/debtchecking/.vs/DebtChecking/v16
Site/debtchecking/.vs/CBASWeb/config/applicationhost.config
Site/debtchecking/.vs/CBASWeb/v16/Server/sqlite3/db.lock
Site/debtchecking/.vs/CBASWeb/v16/Server/sqlite3/storage.ide
Site/debtchecking/.vs/CBASWeb/v16/Server/sqlite3/storage.ide-shm
Site/debtchecking/.vs/CBASWeb/v16/Server/sqlite3/storage.ide-wal
