################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Site/debtchecking/.vs/DebtChecking/v16
/.vs
