################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Site/debtchecking/.vs/DebtChecking/v16
/.vs
/Site/debtchecking/.vs
/Site/debtchecking/bin/DevExpress.RichEdit.v17.1.Core.dll
/Site/debtchecking/bin/DevExpress.Printing.v17.1.Core.dll
/Site/debtchecking/bin/DevExpress.PivotGrid.v17.1.Core.dll
/Site/debtchecking/bin/DevExpress.Pdf.v17.1.Core.dll
/Site/debtchecking/bin/DevExpress.Office.v17.1.Core.dll
/Site/debtchecking/bin/DevExpress.Data.v17.1.dll
/Site/debtchecking/bin/DevExpress.CodeParser.v17.1.dll
/Site/debtchecking/bin/DevExpress.Charts.v17.1.Core.dll
/Site/debtchecking/bin/DebtChecking.pdb
/Site/debtchecking/bin/DebtChecking.dll.config
/Site/debtchecking/bin/DebtChecking.dll
/Site/debtchecking/bin/classes/DMSControls.dll
/Site/debtchecking/bin/classes/DMS.Framework.dll
/Site/debtchecking/bin/DevExpress.XtraReports.v17.1.Web.dll
/Site/debtchecking/bin/DevExpress.XtraReports.v17.1.dll
/Site/debtchecking/bin/DevExpress.XtraPrinting.v17.1.dll
/Site/debtchecking/bin/DevExpress.XtraPivotGrid.v17.1.dll
/Site/debtchecking/bin/DevExpress.XtraEditors.v17.1.dll
/Site/debtchecking/bin/DevExpress.XtraCharts.v17.1.dll
/Site/debtchecking/bin/DevExpress.Web.v17.1.dll
/Site/debtchecking/bin/DevExpress.Web.Resources.v17.1.dll
/Site/debtchecking/bin/DevExpress.Web.ASPxTreeList.v17.1.dll
/Site/debtchecking/bin/DevExpress.Web.ASPxPivotGrid.v17.1.dll
/Site/debtchecking/bin/DevExpress.Utils.v17.1.dll
/Site/debtchecking/bin/DevExpress.Sparkline.v17.1.Core.dll
/Site/debtchecking/bin/DevExpress.RichEdit.v17.1.Export.dll
/Site/debtchecking/bin/Newtonsoft.Json.xml
/Site/debtchecking/bin/Ionic.Zip.dll
/Site/debtchecking/bin/evointernal.dll
/Site/debtchecking/bin/evohtmltopdf.dll
/Site/debtchecking/bin/EPPlus.xml
